body{

background:#edf2f7;

}

.menu-card{

cursor:pointer;

transition:.3s;

border-radius:15px;

}

.menu-card:hover{

transform:translateY(-8px);

box-shadow:0 10px 20px rgba(0,0,0,.2);

}

.card{

border:none;

}

.navbar{

padding:15px;

}