body{
    background:#f5f6fa;
}

.card{
    border-radius:12px;
}

.card-header{
    font-size:18px;
    font-weight:bold;
}

label{
    font-weight:600;
}

.form-control,
.form-select{
    border-radius:8px;
}

textarea{
    resize:none;
}

.loading{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(255,255,255,.7);
    z-index:9999;
}