body{

background:#f5f7fb;

}

.card{

border:none;

border-radius:15px;

}

.loading{

display:none;

position:fixed;

top:0;

left:0;

right:0;

bottom:0;

background:rgba(0,0,0,.55);

z-index:9999;

justify-content:center;

align-items:center;

flex-direction:column;

}

.loading.show{

display:flex;

}